@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
  font-family: "SafirScript";
  src: url("../fonts/SafirScript.ttf") format("truetype");
}

/* Declare variables to be targated by js */
:root {
  --num-of-rows: 4;
}

/* Global CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}


/* Generic Styles */
body {
  /* max-height: 100vh; */
  font-family: 'Dela Gothic One', serif;
  height: 100vh;
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
  background: radial-gradient(#a9d8da, #0ecaf0);
}

/* Mobile query-container utility class: */
.query-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;

  /* border: 1px green solid; */
}

#logo {
  font-family: SafirScript;
  font-size: clamp(42px, 9vw, 75px);
  /* text-align: center; */
  padding-top: 20px;
  color: red;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  color: red;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h4 {
  font-family: inherit;
  font-size: clamp(18px, 3.5vw, 32px);
  margin-bottom: .2rem;
  font-weight: 400;
  margin-top: 0;
}

/*   ----Buttons---   */
.game-controls button {
  border-radius: 4px;
  font-family: 'Dela Gothic One', serif;
  padding: 5px 7px;
  font-size: .9rem;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-controls button:hover {
  transform: scale(1.1);
}

.game-controls {
  /* justify-content: space-around; */
  margin-left: auto;
  margin-right: auto;

}

.game-controls button {
  margin: 5px 15px;
  transition: transform 200ms ease-in-out;

}

.game-info {
  /* outline: 2px solid orange;
  outline-offset: -2px; */

  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.game-grid {
  display: grid;
  /* border: solid red 2px; */
  grid-template-columns: repeat(var(--num-of-rows), auto);
  grid-template-rows: repeat(var(--num-of-rows), auto);
  /* magic */
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/7)), 1fr)); */

  /* width: 100%; */

  /* grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr; */
  column-gap: 12px;
  row-gap: 10px;
  /* max-width: 700px; */
  padding: 10px 10px 30px 10px;
  overflow: hidden;


}

/* Card styles */

.card-container {
  position: relative;
  justify-self: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms ease-in-out;
}

.card-container.animate-matched-pair {
  /* transform: scale(1); */
  transition: all ease-in-out 300ms;
  animation: wiggle 300ms forwards;
  animation-timing-function: linear;
  /* animation-delay: 200ms; */
  animation-iteration-count: 4;
}

@keyframes wiggle {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.card-container.scale {
  cursor: pointer;
  transform: scale(1.1);
}

.card-container.flipped .card-back {
  transform: rotateY(-180deg);
}

.card-container.flipped .card-front {
  transform: rotateY(0deg);
}

.card-container.flipped:hover {
  transform: none;
  transition: none;
}

.card {
  /* position: absolute; */
  border-radius: 11px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 350ms ease-in-out;

  box-shadow: 0 4px 8px 0 rgba(53, 37, 37, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-front {
  /* position: absolute; */
  transform: rotateY(180deg);
  background-color: white;
  border: 2px solid #00d2fc;
  box-shadow: 0 4px 8px 0 rgba(53, 37, 37, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19),
    inset 0 0 30px 5px #9ac0eb;
}


.card-front.selected {
  transition: border-color 1s linear;

  border-color: white;
  /* border: solid white 2px;
  animation: border-fade 2s ease forwards; */
}

/* @keyframes border-fade {
  0% {
    border-color: rgba(14, 202, 240, 0);

  }
  100% {
    border-color: rgba(255, 255, 255, 1);
  }
} */

.card-back {
  position: absolute;
  background: #0e94d2;
  border: 2px solid white;
}

.front-image,
.back-image {
  /* display: block; */
  max-height: 110px;
  width: 80%;

  /* height: auto; */
}

.hidden {
  display: none;
}

/*    ---Modals---    */
.modal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 20%;
  margin: auto;
  position: absolute;
  min-height: 270px;
  min-width: 370px;
  max-width: 50ch;
  border-radius: 11px;
  padding: 5px 10px;
  max-width: 90%;
  box-shadow: 10px 14px 8px 0 rgba(53, 37, 37, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  opacity: 0;
}

.modal[open] {
  animation: fade-in-modal 1s linear forwards 500ms;
}

@keyframes fade-in-modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out-modal {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0);
}

.modal[open]::backdrop {
  animation: fade-in-backdrop 1s linear forwards;
}

@keyframes fade-in-backdrop {
  from {
    background: rgba(0, 0, 0, 0);
  }

  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal.close {
  animation: fade-out-modal 700ms linear forwards;
}

.modal.close::backdrop {
  animation: fade-out-backdrop 700ms linear forwards;
}

/* .modal.close::backdrop {
  animation: fade-backdrop 1s linear reverse;
} */

/* .modal[open]::backdrop {
  animation: backdrop-fade 2s  ease forwards;
}

@keyframes backdrop-fade {
  from {
    background: transparent;
  }
  to{
    background: rgba(0, 0, 0, 0.6);
  }
} */

.modals {
  text-align: center;
  padding: 10px, 20px;
  overflow: hidden;
  /* margin-left: 20px;
  margin-right: 20px; */

}

h3 {
  transition: transform 350ms ease-in-out;
}

/* h3:hover {
  transform: scale(1.1);
  cursor: pointer;
} */

.welcome-modal,
.game-over,
.winner,
.leader-board,
.how-to-play {
  display: none;
}

/*  ---Background Bubbles---  */
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -200px;
  width: 40px;
  height: 40px;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);

  border-radius: 50%;
  opacity: 0.5;
  animation: rise 10s infinite ease-in;
}

.bubble:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 55%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
  -webkit-transform: rotateZ(164deg);
  transform: rotateZ(164deg);
}

.bubble:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

/* .bubble .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%);
  z-index: 1;
} */

/* .bubble.plain {
  background: black;
} */

/* .bubble.plain:before,
.bubble.plain:after {
  display: none;
} */

.bubble.ball {
  background: radial-gradient(circle at 50% 55%,
      rgba(240, 245, 255, 0.9),
      rgba(240, 245, 255, 0.9) 40%,
      rgba(225, 238, 255, 0.8) 60%,
      rgba(43, 130, 255, 0.4));
}

.bubble.ball:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.8) 58%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 100%);
}

.bubble.ball:after {
  display: block;
  background: radial-gradient(circle at 50% 80%,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 74%,
      white 80%,
      white 84%,
      rgba(255, 255, 255, 0) 100%);
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}


/*   ---Media Queries--- */
/* sm */
@media (min-width: 640px) {
  .query-container {
    max-width: 640px;
  }

}

/* ---- Media Queries----  */
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .card-container.scale {
    transform: none;
  }
}

/*   ---Error 404---   */
#error-404 {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#heading-404 {
  font-family: 'Dela Gothic One', serif;
  color: red;
  font-size: 6rem;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-bottom: 30px;
}

#error-404>h3 {
  padding-bottom: 20px;
}

#link {
  transition: transform 200ms ease-in-out;
}

#link:hover {
  /* transition: all ease-in-out 300ms; */
  transform: scale(1.1);
  /* color: pink; */
}

#error-404>h3:hover {
  /* scale: (1); */
  transform: none;
  cursor: default;
}