@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
  font-family: "SafirScript";
  src: url("../fonts/SafirScript.ttf") format("truetype");
}

/* Declare variables to be targated by js */
:root {
  --num-of-rows: 4;
}

/* Global CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}


/* Generic Styles */
body {
  /* max-height: 100vh; */
  height: 100vh;
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
}

/* Mobile query-container utility class: */
.query-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;

  border: 1px green solid;
}

#logo {
  font-family: SafirScript;
  font-size: clamp(42px, 9vw, 75px);
  /* text-align: center; */
  padding-top: 20px;
  color: red;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.game-controls {
  /* justify-content: space-around; */
  margin-left: auto;
  margin-right: auto;
}

.game-controls button {
  margin: 5px 15px;
}

.game-info {
  outline: 2px solid orange;
  outline-offset: -2px;

  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(var(--num-of-rows), auto);
  grid-template-rows: repeat(var(--num-of-rows), auto);

  /* grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr; */
  column-gap: 15px;
  row-gap: 10px;
  /* max-width: 700px; */
  padding: 10px 0;
  /* overflow: hidden; */


}

/* Card styles */

.card-container {
  /* max-height: 100px; */
  /* max-width: 100px; */
  position: relative;
  border: solid red 1px;
  background-color: aliceblue;
  justify-self: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(0.7); */
}

.card {
  /* position: absolute; */
  border-radius: 11px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
}

.card-front {
  /* position: absolute; */
  transform: rotateY(180deg);
}

.card-back {
  position: absolute;
}

.front-image,
.back-image {
  display: block;
  max-height:95px;
  width: auto;
  height: auto;
}

.hidden {
  display: none;
}

.selected {
  border: solid red 5px;
}

/*   ---Media Queries--- */
/* xs */
@media (min-width: 475px) {
  .query-container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .query-container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .query-container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .query-container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .query-container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .query-container {
    max-width: 1536px;
  }
}